.wrapper {
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	height: 50vh;
	margin: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.title {
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	display: inline-flex;
}

.description {
	font-size: 18px;
	line-height: 21px;
	margin-top: 35px;
}

.createdAt {
	color: #737373;
	font-style: italic;
}

.status {
	color: #fff;
	background: #465571;
	font-weight: bold;
	margin: 0;
	padding: 8px 20px;
	border-radius: 20px;
}

.label {
	margin-bottom: 10px;
}

.select {
	padding: 8px;
	border-radius: 5px;
	font-size: 18px;
	line-height: 21px;
}

.optionS {
	padding: 8px;
	border-radius: 5px;
	height: 45px;
	/* background-color: #DEDEDE; */
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
	background-color: #DEDEDE;
}

.homeLink {
	display: flex;
	text-decoration: none;
	color: #737373;
	font-size: 32px;
	margin-top: -16px;
}


.homeLink:hover {
	color: #DEDEDE;
}

.emptyState {
	text-align: center;
}

.emptyStateIcon {
	width: 200px;
}
